* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.scorebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgb(145, 177, 177);
    height: 10vh;
    width: 100vw;
}

.scorebox > div {
    background-color: #fff;
    height: 8vh;
    font-size: 2rem;
}

.scorebox > div > span {
    padding: 1rem;
}